<div class="collections container">
  <div class="all" ng-show="galleryMode">
    <div class="title">
      {{main.collName(main.collId)}}
    </div>
    <div ng-repeat="model in main.models" class="gal-item" ng-click="showDetails($index)">
      <span class="gal-image">
        <img class="model" ng-src="{{model.cover}}" alt="" />
      </span>
    </div>
  </div>
  <div class="details" ng-hide="galleryMode">
    <!-- <div class="back-button" ng-click="main.goBack()">
          back
      </div>
      {{selectedModel.index}}
      <div class="prev-next" ng-class="{'active': isPrevItemAvailable()}" ng-click="showDetails(selectedModel.index - 1)">
        <<
      </div>
      <div class="prev-next" ng-class="{'active': isNextItemAvailable()}" ng-click="showDetails(selectedModel.index + 1)">
        >>
      </div> -->
    <div class="details-left">
      <div class="codice">
        {{selectedModel.modello}}
      </div>
      <div class="descrizione">
        <div class="itastyle" ng-bind-html="selectedModel.desc_ita"></div>
        <div class="engstyle" ng-bind-html="selectedModel.desc_eng"></div>
      </div>
    </div>
    <div class="littles">
      <div class="gal-item" ng-click="selectAsBig(0)" ng-class="{selected: 0==selectedModelBig}">
        <span class="gal-image" ng-if="pic !== 'null'">
          <img id="littleone" alt="" />
        </span>
      </div>
      <div class="gal-item" ng-click="selectAsBig(1)" ng-class="{selected: 1==selectedModelBig}">
        <span class="gal-image">
          <img id="littletwo" alt="" />
        </span>
      </div>
      <div class="gal-item" ng-click="selectAsBig(2)" ng-class="{selected: 2==selectedModelBig}" ng-if="selectedModel.pics[2]!=='null'">
        <span class="gal-image">
          <img id="littlethree" alt="" />
        </span>
      </div>
    </div>
    <div class="sep">
      <div class="left h">

      </div>
      <div class="right h">

      </div>
    </div>
    <div class="big">
      <img ng-src="{{selectedModel.pics[selectedModelBig]}}" id="bigpic" alt="" />
    </div>
  </div>
</div>