<div class="about container">
  <div class="title">
    About
  </div>
  <div class="images">
    <div class="imagebox">
      <img src="../assets/images/about.jpg" alt="" />
    </div>
  </div>
  <div class="text">
    <div class="text-ita itastyle">
        Roma come cornice, numerosi viaggi emozionali ed un forte legame tra madre e

        figlia: questi sono oggi i segni distintivi e le ispirazioni che caratterizzano le collezioni

        Francesca Nucciarelli.<br>Francesca, romana, figlia di una sarta dell’alta società, vive lo

        sviluppo della moda italiana dagli anni ’60, anni in cui si diploma come “figurinista” ed

        inizia a lavorare dalle Sorelle Fontana.<br>Nel 1967, dopo ulteriori studi d’arte, diventa

        stilista collaborando con atelier e grandi aziende italiane quali Valentino, Lancetti,

        Marzotto, Ellesse. Quando la moda sartoriale si trasforma in prét­a­porter ed il Made

        in Italy diventa conosciuto in tutto il mondo iniziano i suoi lunghi viaggi all’estero in

        particolare verso Oriente.<br>Nel 1991 sente l’esigenza di riversare tutto il suo know how

        in una propria linea tutta italiana partendo dalle sue radici: Roma e l’Artigianalità.<br>Sua

        figlia, Annalisa Bodini, vive tra disegni, stoffe, filati e tanti viaggi che alimentano la sua

        tendenza a sognare; in realtà non pensa di diventare stilista ma ci si ritrova, coinvolta dal

        lavoro che cresce con lei. Frequenta la Central Saint Martins di Londra per poi

        ritornare a Roma e laurearsi in Fashion Design presso lo IED; dal 2007 collabora con

        numerose aziende di abbigliamento, accessori e stampa su tessuto.<br>Le loro collezioni

        di abbigliamento partono da una sartorialità artigianale le forme sono strutturate ma

        allo stesso tempo fluide, senza costrizioni, reinterpretate in chiave moderna in linea con le

        taglie comode.<br>La scelta delle fibre naturali, come puro lino, cotone, seta, lana o

        cashmere è una consapevole e precisa scelta produttiva per un comfort ed una

        piacevolezza ottimali e per il pieno rispetto della natura e della sostenibilità.<br>Il tessuto

        è visto come una tela bianca su cui lavorare come fosse un dipinto: l'ispirazione artistica

        con il recupero di antiche lavorazioni tradizionali del passato, sia italiane che orientali,

        insieme ad una costante ricerca sono le linee guida della produzione.<br>Uno stile senza

        tempo, indipendente da età o taglia, dedicato ad una donna femminile, pratica, mai

        banale ed attenta ai dettagli.
    </div>
    <div class="text-eng engstyle">
        Rome as a frame, several emotional voyages and a strong bond between mother and

        daughter: these today are the features and the inspirations that characterize the

        Francesca Nucciarelli collections.<br>Francesca, Roman, daughter of a high society

        tailor, lives the development of Italian fashion since the 60’s, years in which she

        graduates as "dress designer" and begins working from Sorelle Fontana.<br>In 1967,

        after further study of Art, she becomes fashion designer collaborating with ateliers and

        great Italian companies such as Valentino, Lancetti, Marzotto, Ellesse. When the sartorial

        fashion turns into Prét­a­porter and the Made in Italy becomes known throughout the

        world, her long journeys abroad begin in particular toward Asia.<br>In 1991 she feels

        the need to pour all her know­how in an own 100% Italian fashion collection starting from

        its roots: Rome and Craftsmanship.<br>Her daughter, Annalisa Bodini, lives around

        drawings, fabrics, yarns and many trips that feed her tendency to dream. She doesn’t

        really think of becoming a fashion designer but she find herself there, involved with a work

        that grows with her. She attends the Central Saint Martins in London, then returns to

        Rome and degrees in Fashion Design from IED; since 2007 she collaborates with

        numerous garment, accessories and textile print companies.<br>Their clothing collections

        originate from craftsman and traditional tailoring, the shapes are a mixture of structured

        lines and fluid designs, smooth, reinterpreted in a modern key, always on line with the

        plus sizes.<br>The selection of natural fibers, as pure linen, cotton, silk, wool or

        cashmere is a conscious and precise productive choice for optimal comfort and

        pleasantness in full respect of nature and sustainability.<br>The fabric is seen as a white

        canvas on which to work as if it were a painting: the artistic inspiration, with the

        preservation of ancient traditional techniques, the Italian design combined with oriental

        touches, together with a constant research are the guidelines of the production.<br>A

        timeless style, independent of age or size, dedicated to a feminine and practical woman,

        who looks for high quality design and attention to details.
    </div>
  </div>
</div>
